/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

BorderPane {
	-fx-background-color: pink;
	-fx-border-color: gold;
	-fx-border-width: 5px;
	-fx-border-style: solid;
}

BorderPane:hover {
	-fx-background-color: violet;
}

#title {
	-fx-font-size: 40px;
	-fx-text-fill: white;
	-fx-alignment: center;
}

VBox {
	-fx-spacing:  20px;
}

.btn {
	-fx-background-color: gold;
	-fx-text-fill: white;
	-fx-padding: 12px 24px;
	-fx-font-size: 20px;
}